SentinelInstaller_windows_64bit_v21_7_2_1038.msi filter=lfs diff=lfs merge=lfs -text
SentinelInstaller-x64_windows_64bit_v21_7_2_1038.exe filter=lfs diff=lfs merge=lfs -text
*msi filter=lfs diff=lfs merge=lfs -text
*.msi filter=lfs diff=lfs merge=lfs -text
SentinelInstaller_windows_64bit_v22_2_3_402.msi filter=lfs diff=lfs merge=lfs -text
SentinelOneInstaller_windows_64bit_v22_2_3_402.exe filter=lfs diff=lfs merge=lfs -text
